<!DOCTYPE HTML>
<html>
<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Login website">
    <meta name="keywords" content="andrew li, login, user, password">
    <meta name="author" content="Andrew Li">
    <!-- Mini icon on tab -->

    <!-- Title of page -->
    <title> {% block title %} {% endblock title %} </title>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>if (!window.jQuery) document.write('<script src="jslib/jquery-3.3.1.min.js"><\/script>');</script>
    <script src="jslib/bootstrap.min.js"></script>
    <!-- Styleshet -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <style>
        a {

            color: cornflowerblue;

        }
        
        a:hover {

            color: rgb(10, 79, 206);

        }
        div {

            position: block;
            margin-top: 40vh;
            text-align: center;

        }
    </style>

</head>

<body>

    <div>
        {% block text %}
        {% endblock text %}
    </div>

</body>
</html>