{% extends 'base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block style %}

.main {
    margin-top: 10vh;
    margin-bottom: 5vh;
}
h2 {
    font-size: 3em;
}
h1 {
    padding-top: 50px;
    padding-bottom: 20px;
}
.bottom {
    height: 180px;
}
{% endblock style %}

{% block active %} active {% endblock active %}

{% block text %}

<div class="container shadow-lg">
    <h1>{{ user|title }}</h1>
    <p>Email: {{ user.email }}</p>

    <div class="bottom"></div>

</div>

{% endblock text %}