{% extends 'base.html' %}
{% load static %}
{% block title %} Reset Password {% endblock title %}

{% block style %}

.main {
    margin-top: 10vh;
    margin-bottom: 5vh;
}
h2 {
    padding-top: 50px;
    font-size: 2.5em;
}
.container {
    max-width: 960px;
    background-color: #f7f7f7;
    border-radius: 30px;
    border: 1px solid #dadce0;
}
.bottom {
    height: 150px;
}
.asteriskField {
    display: none;
}
.requiredField {
    font-weight: bold;
}
.django_form {
    padding-left: 80px;
    padding-right: 80px;
}
{% endblock style %}

{% block active %} active {% endblock active %}

{% block text %}

{% load crispy_forms_tags %}

<div class="container shadow-lg">
    <h2>Password Reset Sent<br></h2>
    <p><br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
    </form>
    <div class="bottom"></div>
</div>
{% endblock text %}