<!DOCTYPE HTML>
<html>
<head>

    <meta charset="utf-8">
    <!-- Mini icon on tab -->
    <!-- Title of page -->
    <!-- JS -->
    <!-- <script src="_js/index.js"></script> -->
    <!-- Styleshet -->
    <!-- <link rel="stylesheet" href="_css/index.css" type="text/css"> -->
    <style>
        a {

            color: cornflowerblue;

        }
        
        a:hover {

            color: rgb(10, 79, 206);

        }
        div {

            position: block;
            margin-top: 40vh;
            text-align: center;

        }
    </style>

</head>

<body>

    {% block %}
    {% endblock %}

</body>
</html>