{% load static %}
<!DOCTYPE HTML>
<html>

<head>
    {% comment %} TODO:
    Left off: https://www.youtube.com/watch?v=6PX_eVxg5jM&list=PLw02n0FEB3E3VSHjyYMcFadtQORvl1Ssj&index=43
    {% endcomment %}

    <!-- meta -->
    <meta charset="utf-8">
    <meta name="description" content="Login website">
    <meta name="keywords" content="andrew li, login, user, password">
    <meta name="author" content="Andrew Li">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <!-- Mini icon on tab -->
    <link rel="icon" href="{% static 'login/images/red_star.ico' %}" type="image/ico">
    <!-- Title of page -->
    <title> Red Star | {% block title %} {% endblock title %} </title>
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'login/jslib/bootstrap.min.js' %}"></script>
    <!-- Styleshet -->
    <link rel="stylesheet" href="{% static 'login/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'login/css/index.css' %}" type="text/css">
    <style>
        {% block style %} {% endblock style %}
    </style>
    <!-- swiper carousel http://idangero.us/swiper/demos/200-infinite-loop.html -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">

</head>

<body>

    <!-- nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'login/images/red_star.svg' %}" width="30" height="30"
                class="d-inline-block align-top img-fluid hoverable" alt="Red Star Ltd."> Red Star</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item {% if page == "home" %} active {% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Shop </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">My Cart </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">My Proile </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout </a>
                </li>
                {% else %}
                <li class="nav-item {% block active %} {% endblock active %}">
                    <a class="nav-link" href="{% url 'login' %}">Login </a>
                </li>
                {% endif %}

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="banner">
        {% block banner %}
        {% endblock banner %}
    </div>


    <div class="main">
        {% block text %}
        {% endblock text %}
    </div>

    <div class="products">
        {% block products %}
        {% endblock products %}
    </div>

<div class="push">
    {% block scripts %}
    {% endblock scripts %}
</div>

<footer class="footer">

    <div class="footer1">
        <p class="footernote">&copy; 2019 Andrew Li. All Rights Reserved.
        <a class="backtotop" href="#">&#9650; Back to top</a></p>
    </div>
    <hr class="divider">
    
    <div class="footer2">

        <ul class="bottom">
            <li><a href="{% url 'home' %}">Home </a></li>
            <li><a href="#">Shop </a></li>
            {% if user.is_authenticated %}
            <li><a href="#">My Cart</a></li>
            <li><a href="{% url 'profile' %}">My Proile</a></li>
            <li><a href="{% url 'logout' %}">Logout </a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login </a></li>
            {% endif %}
        </ul>

    </div>

<script>
$(".backtotop").click(function () {
    return $("html, body").animate({
        scrollTop: 0
    }, 300), !1
})
</script>

</footer>

</body>

</html>